################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Bin

*.o
/Lua_lib/lua-5-3-4/liblua.a
/Lua_lib/lua-5-3-4/lua
